name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v3

      - name: Restore Cache
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-v1-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-v1-go-
      - name: Test
        run: go test -v -race -covermode=atomic -coverprofile="profile.cov" -coverpkg=./... ./...

      - name: Send Coverage
        if: matrix.os == 'ubuntu-latest' && matrix.go-version == '1.25.x'
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: profile.cov

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
